* {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.main {
	width: 800px;
	margin: 0 auto;
}